.nav-link {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}

.ms-5 {
    margin-left: 80px !important;
}

.logo-img {
    width: 83.2px;
    margin-right: 80px;
}

.navbar {
    background: #617A55;
}

.nav-item {
    padding-right: 28px;
}

img {
    width: 100%;
}

.mein1 {
    height: 74vh;
    background-position: 50% 50%;
    background-size: cover;
    background: linear-gradient(0deg, rgba(32, 7, 0, 0.3), rgba(32, 7, 0, 0.3)), url(IMG_20220519_193427\ 2.png);
}

.mein1 .text {
    text-align: right;
    position: relative;
    right: 10px;
    top: 10%;
}

.btn1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 20px 40px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    background: none;
    margin-top: 28px;
    top: 120px;
    right: 8px;
    position: absolute;
}

.h11 {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    /* font-size: 44px; */
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.h12 {
    position: absolute;
    top: 33px;
    right: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    /* font-size: 44px; */
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.pfr {
    display: flex;
    flex-wrap: wrap;
}
.text{
    display: flex;
    flex-wrap: wrap;
}
.p11 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    position: absolute;
    text-align: left;
}

.p11 {
    top: 53px;
    right: 63px;
}

.img {
    width: 75vh;
    padding: 3%;
}

.text1,
.text2 {
    width: 50vh;
    padding: 3%;
}

.text2 {
    padding-top: 5.5%;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
}

.mein22 {
    flex-wrap: wrap;
    display: flex;
}

.a3 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.a4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #200700;
    text-decoration: none;
}

.right3,
.left3 {
    width: 94.8vh;
    padding: 3%;
}

.mein33 {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    height: 120px;
    align-content: center;
    justify-content: space-between;
    display: flex;
    background-color: #617A55;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footr2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
}

.fta,
.ft2,
.ft3 {
    text-decoration: none;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.ft2,
.ft3 {
    margin-left: 20px;
}

.leftf {
    height: 100%;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.rightf {
    padding-right: 3%;
}

p {
    margin: 0%;
}

.imgfd {
    width: 83.2px;
    height: 48px;
}

.im {
    width: 25px;
    height: 25px;
    margin-left: 80px;
    margin-right: 8px;
}

.first {
    margin-top: 5%;
    margin: 3%;
    border: 2px solid #200700;
}

.tovaru {
    display: flex;
    flex-wrap: wrap;

}

.htov {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    color: #200700;
    padding: 32px 40px 0px 40px;
    padding-right: 1%;
    font-size: 32px;
    line-height: 39px;
}

.h2tov {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #617A55;
    padding: 20px 40px 40px 40px;
}

.non {
    text-decoration: none;
    height: 100%;
}

.ftr2 {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 5px;
    width: 100%;
    height: 25%;
}

.imgss {
    margin: 40px;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

.imgman {
    padding: 20px;
}

.hman {
    padding: 3%;
    padding-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 44px;
    line-height: 48px;
    color: #200700;
}

.mancat {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.leftman,
.rightman {
    padding-right: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #200700;
}

.leftv,
.centerv,
.rightv {
    width: 30%;
    margin: 1.5%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.leftk,
.centerk,
.centerk1,
.rightk {
    margin: 1.5%;
    width: 90%;

    padding: 1.5%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.vid,
.vud {
    display: flex;
    flex-wrap: wrap;
}

.btnjs {
    margin: 3%;
    display: flex;
}

.skoko,
.skokop,
.skokop2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #200700;
    padding: 15px 15px 15px 15px;
    border: 2px solid #200700;
}

.plus,
.plusp,
.plusp2 {
    font-weight: 700;
    width: 40px;
    height: 39px;
    border: 2px solid #200700;
}

.minus,
.minusp,
.minusp2 {
    font-weight: 700;
    height: 39px;
    width: 40px;
    border: 2px solid #200700;
}

.pidstavka2 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.im4 {
    background-size: cover;
    background-image: url(IMG_20220522_120701.png);
}

.im5 {
    background-size: cover;
    background-image: url(IMG_20220617_193230\ \(2\).png);
}

.im6 {
    background-size: cover;
    background-image: url(img23\ \(2\).png);
}

.pidstavka222 {
    padding: 5%;
}

.mancat222 {
    margin: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.full {
    width: 100%;
    padding: 0;
    margin: 0%;
}

.pravila {
    display: flex;
    flex-wrap: wrap;
}

.prv {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    color: #200700;
    padding: 100px;
    padding-left: 30px;
    padding-bottom: 0;
}


.lfp,
.ptp {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #200700;
    padding: 30px;
}

.rizn {
    padding: 1%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #200700;
    padding-left: 30px;
}

.riz2 {

    padding-bottom: 5%;
}

.priz {
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
}

.priz3 {
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
    align-content: flex-end;
}

.legl {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    color: #200700;
    text-decoration: none;
}

.legle {
    margin-right: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #200700;
    text-decoration: none;
}


.pgrn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #617A55;
}

.pgrn2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #617A55;
}

.kosh {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    border: 2px solid #200700;
}

.kosh2 {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 29px;
    border: 2px solid #200700;
}

.btnfyt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 40px;
    border: 2px solid #FFFFFF;
    background: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    color: #FFFFFF;
}



.gg {
    padding: 0;
}

.logof {
    display: flex;
    justify-content: center;
}

.btnf {
    display: flex;
    justify-content: center;
}

.kolv {
    padding-left: 8px;
}

.container-fluid {
    padding: 0%;
}

.mein3 {
    width: 100%;
}

.imglef {
    padding-left: 30px;
}



.buk22 {
    height: 33.33333333%;
}

.the {
    margin-left: 30px;
    margin-right: 30px;
}

.the11,
.the22 {
    height: 40%;
    margin-right: 0;
}

.thei {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.ftr {
    position: absolute;
    bottom: 0%;
}

.thei2 {
    margin-left: 30px;
}

.omgs {
    margin-left: 30px;
}

.thei22 {
    margin-left: 50px;
}

.grn {
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
}

.nond {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    color: #FFFFFF;
}

.row {
    margin: 0%;
}

.hide {
    position: fixed;
    left: -300%;
}

.mankyp {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #200700;
}

.cd {
    display: flex;
    flex-wrap: wrap;
}

.bot,
.bot0 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.bott {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    color: #200700;
}

.krest {
    width: 40px;
    height: 40px;
    border: 2px solid #200700;
}

.bots {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

}

.pkyp,
.pkypp,
.pkypp2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: right;
    color: #617A55;
}

.pkypka {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: right;
    color: #617A55;
}

.leftkyp {
    display: flex;
}

.pidkyp,
.pidkyp2 {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #200700;
}

.vid,
.leftv,
.vidd,
.rozm,
.js,
.grn,
.btnjs,
.kosh2,
.kosh {
    margin-left: 0;
}

.btnhide {
    width: 410px;
    height: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #200700;
    margin: 3%;
    margin-top: 0;
}

.h2j {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 44px;
    line-height: 48px;
    color: #200700;
    margin: 3%;
}

.non2 {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #200700;
}

.ys {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    color: #200700;

}

body {
    min-height: 100vh;
}

.mar {
    margin: 5%;
}

.marg {
    margin-top: 5%;
    margin-bottom: 10%;
}

.poshta {
    display: flex;
    flex-wrap: wrap;
}

.poshta {
    margin: 3%;
    margin-left: 1%;
}

.nova,
.ykr {
    min-width: 24px;
    min-height: 24px;
}

.novapp,
.ykrpp {
    margin-left: 1%;
}

.novap,
.ykrp {
    display: flex;
    width: 50%;
}

input {
    width: 100%;
    margin: 1%;
    padding: 5px;
}

.oform {
    min-height: 48px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
}

.pof {
    margin: 1%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #200700;
}
